
.container{
    width: 90vw;
    height: 90vh;    
    background-color: hsl(220, 43%, 97%);
    backdrop-filter: blur(5px);
    display: flex;
    gap: 1rem; 
    box-sizing: border-box;
}
.chat-list{
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    border-radius: 1rem;
    flex: 1;
}

.chat-item{
    width: 100%;
    min-height: 75px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    align-items: center;
}
.chat-item:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 95%);
}
.selected{
    background-color: hsl(0, 0%, 95%);
}

.chat-container{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 0.5fr 4fr 0.5fr; */
    gap: 0.25rem;
    flex: 1 1 auto;
    padding: 0 0.5rem;
}

#chatInput{
    color: hsl(0, 0%, 10%);
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 100%);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
    flex: 1;
}

.message-screen{
    background-color: inherit;
    overflow-y: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    min-height: 0;
    flex: 4 4 0;
    /* border: 2px solid blue; */
}

.sent{
    align-self: self-end;
    background-color: hsl(213, 82%, 53%);
    padding: 0.5rem;
    border-radius: 1rem;
    color: hsl(0, 0%, 100%)
}

.received{
    align-self: self-start;
    background-color: hsl(0, 0%, 90%);
    padding: 0.5rem;
    border-radius: 1rem;
}

.user-avt{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-info  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 70%;
    flex: 0 1 auto;
}

.content-preview{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .90rem;

}

.chat-item h3, .chat-item img{
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

.current-chat-header-container{
    background-color: hsl(220, 43%, 97%);
    border: 1px solid hsla(220, 43%, 80%, 80%);
    box-shadow: 0 0 5px 2px hsla(0, 0%, 80%, 80%);
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.current-chat-details{
    display: flex;
    flex-direction: column;
}

h2, img, p{
    margin: 0;
}

.current-chat-header-container img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.last-message-time{
    font-size: .75rem;
    font-weight: 300;
    color: hsl(0, 0%, 30%);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.search-container{
    align-self: center;
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
}

.search-container input {
    width: 100%;
    height: 2rem;
    border: none;
    background-color: hsl(220, 43%, 97%);
    border-radius: 1rem;
    margin: 1rem 0;
    padding: .75rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.search-icon{
    position: absolute;
    right: 1rem;
}

.button-icon {
  background-color: hsl(211, 100%, 50%); 
  width: auto;            
  height: 100%;
  border-radius: 50%;       
  display: flex;          
  justify-content: center;
  align-items: center;
  cursor: pointer;        
  transition: background-color 0.2s ease;
  /* border: 2px solid black; */
}

.button-icon:hover{
    background-color: hsl(211, 100%, 55%); 
}

.chat-input{
    display: flex;
    margin: 1rem 0;
    width: 100%;
}

.chat-input form{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: .5rem;
    position: relative;
    /* border: 2px solid black; */
}

.chat-meta-data{
    width: 30%;
    text-align: center;
    gap: .1rem;
}

.emoji-button{
    cursor: pointer;
    background-color: hsl(211, 100%, 50%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.emoji-container{
    position: absolute;
    right: 0%;
    translate: -180% 0;
    top: 50%;
    transform: translateY(-50%);
}


.emoji-picker{
    position: absolute;
    translate: -98% -107%;
}

.my-profile{
    display: flex;
    margin: 1rem;
    gap: 0.5rem;
    align-items: center;

}

.my-profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.left-bar-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 20%;
}

.user-greet{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
