
.form-container{
    width: 400px;
    height: fit-content;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
}

form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
input{
    background: transparent;
    border: none;   
    border-bottom: 2px solid hsl(0, 0%, 40%);
    padding: 0.25rem 0;
    align-self: stretch;
    outline: none;
    font-size: 1.05rem;
}

button{
    align-self: stretch;
    border-radius: 16px;
    padding: 0.5em;
    border: none;
    background-color: hsl(0, 0%, 90%);
    font-size: 1.15rem;
    font-weight: 900;
}
button:hover{
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 15%);
    font-weight: 900;
}
